.heading{
    background:linear-gradient(135deg,#1e3a8a 0%,#581c87 80%);
    height:90px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family:'Times New Roman', Times, serif
    
}
.H1{
    color:white;
    margin-bottom: 5px;
}
.para{
    color:white;
    margin-top:0;
    opacity:0.8;
}
.body{
    background:rgb(250, 247, 247);
   margin:0;
    border:0;
    padding:0;
}
.wrap{
  min-height:calc(100vh-120px);
  width:auto;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 10px;
  background-color:rgb(250, 247, 247);
}
.box{
    background:white;
    display: flex;
    flex-direction:column ;
    padding: 30px;
    margin-top: 9px;
    width: 380px;
    border-radius:12px;
    padding-top: 15px;
    color:grey;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    text-align:center;
}
.inputs1{
    display: flex;
    flex-direction: column;
    color:grey;
    font-family:'Inter',sans-serif;
    font-size:14px;
    text-align: left;
     margin-left: 3px;
    padding-bottom: 0%;
    width:195px;
}
.inputs2{
    display: flex;
    flex-direction: column;
    color:grey;
    font-family:'Inter',sans-serif;
    font-size:14px;
    text-align: left;
    margin-left: 36px;
    padding-bottom: 0%;
    width:195px;
}
.subdiv{
    display:flex;
    flex-direction: row;
}
.select{ 
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    display: block;
    margin-bottom: 6px;
    border-radius:9px; 
    border-style:solid; 
    height:25px; 
    cursor:hand;
}
.button{
    margin-top:5px;
    border-style: hidden;
    border-radius: 20px;
    color:white;
    height:42px;
    width:150px;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.3px;
    margin-bottom:0%;
    background:linear-gradient(135deg,#1e3a8a 0%,#581c87 80%);
     transition: box-shadow 0.25s ease;
    transform:0.25s ease;
    cursor:hand ;
}
.button:hover{
  transform: scale(0.89);
}
.h2{
 font-size: 20px;
  font-weight: 600;
   margin-bottom: 19px;
   text-align: center;
}
